name: Test Inputs Workflow

on:
  push:
  workflow_dispatch:
    inputs:
      text:
        type: string
        required: true
        description: 'Text data'
      optional:
        type: string
        required: false
        default: 'M & M''s" && ls "/etc'
        description: 'Optional data'
      secret:
        type: string
        required: true
        description: 'Secret data'
      apply:
        type: string
        required: true
        description: 'apply changes? (yes/no)'

jobs:
  dump-inputs:
    name: Dump inputs
    runs-on: ubuntu-latest
    steps:
      - name: Check apply
        if: ${{ github.event.inputs.apply }} != 'yes'
        run: exit 1
      - name: Mask secret
        run: |
          echo -n '::add-mask::' > cmd.txt
          jq < "${GITHUB_EVENT_PATH}" -r .inputs.secret >> cmd.txt
          cat cmd.txt
          rm cmd.txt
      - name: Show inputs
        env:
          TEXT_DATA: ${{ github.event.inputs.text }}
          OPTIONAL_DATA: ${{ github.event.inputs.optional }}
          SECRET_INPUT: ${{ github.event.inputs.secret }}
        run: |
          echo "Text input: ${TEXT_DATA}"
          echo "Optional input: ${OPTIONAL_DATA}"
          echo "Secret input: ${SECRET_INPUT}"
      - name: Print json
        run: jq < "${GITHUB_EVENT_PATH}" -r .inputs
