name: Run tests

on:
  push:
  workflow_dispatch:

env:
  WORKING_DIRECTORY: ./

jobs:
  test:
    name: Vitest
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.WORKING_DIRECTORY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
        #   node-version-file: ${{ env.WORKING_DIRECTORY }}/package.json
        #   cache: 'npm'
        #   cache-dependency-path: '**/package-lock.json'
      - name: Install dependencies
        run: npm install
      - name: Run vitest
        run: npx vitest --coverage.enabled true
      - name: Report coverage
        # Set if always() to also generate the report if tests are failing
        # Only works if you set `reportOnFailure: true` in your vite config as specified above
        if: always() 
        uses: davelosert/vitest-coverage-report-action@v2
